@use "../abstracts/variables" as *;

html * {
  font-family: $primary-font;
}

body {
  overflow-x: hidden;
  background-image: url(../img/imagen.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contenedor-principal {

  margin-top: 50px;
  margin-left: 100px;
}

a {
  text-decoration: none;
  color: $blue;

}
li {
  list-style: none;
}