//Tipografias

$roboto-font: "Roboto", sans-serif;
$primary-font: "Poppins", sans-serif;
$segundary-font: "Nunito Sans", sans-serif;

//Colores

$blue: RGB 38 64 101;
$green: RGB 169 214 203;
$gray: RGB 144 144 144;

//Botones
