@use "../abstracts/variables" as *;

header.header-principal .container {
  display: flex;
  justify-content: space-between;
}

.nav_principal > ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 18px;
  position: relative;
  right: 50px;
  position: relative;
  right: 150px;
}

.nav_principal-desplegable-submenu {
  display: none;
  .nav_principal-desplegable-submenu:hover {
    display: block;
  }
}
